/**
* @name Renai Circulation
* @author crjase#0427
* @description Don't know what to put here, use your imagination
* @version 2.0
*/

:root {
    /* Background primary */
    --background-primary: transparent;

    /* Background modifier */
    --background-modifier-selected: #a390f78a;

    /* Background secondary */
    --background-secondary: #a390f78a;
}

/* Profile icon animation */
div.contents-2mQqc9 > img.avatar-1BDn8e.clickable-1bVtEA {
    cursor: default !important;
}

div.contents-2mQqc9 > img.avatar-1BDn8e.clickable-1bVtEA:hover {
    animation: AnimateProfileZoom 0.1s ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 0.2;
}

@keyframes AnimateProfileZoom {
    from {
        margin-left: 0px;
        z-index: 0;
    }
    to {
        width: 180px;
        height: 180px;
        margin-left: -20px;
        z-index: 10;
    }
}

/* Make discord message time blue */
.avatar-1BDn8e+h2>span.timestamp-3ZCmNB {
    color: #87ceeb
}

/* Text colour */
.markup-2BOw-j.messageContent-2qWWxC {
    color: #fff;
    padding: 0px 30px 0px 72px;
}

/* Message background */
.messageListItem-1-jvGY {
    background-color: #0004;
}

/* credits at bottom of settings */
.info-1VyQPT::before {
    content: "Theme By Crjase";
    color: white;
    font-size: 12px !important;
}

div#app-mount::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: url(https://github.com/crjase/RenaiCirculation-Theme/blob/main/RenaiCirculation.png?raw=true);
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(var(--bg-blur-amount)) brightness(var(--bg-bright-amount));
}

/* theme-dark */
.theme-dark {
    --background-tertiary: transparent !important;
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, 0.5);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255, 255, 255, 0.5);
    --elevation-low: none !important;
}

/* theme-light */
.theme-light {
    --background-tertiary: transparent !important;
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, 0.5);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255, 255, 255, 0.5);
    --elevation-low: none !important;
}

/* Friend tag (come back later) */
.avatar-1BDn8e+h2>span.timestamp-3ZCmNB::before {
    content: var(--tag-text);
    color: var(--accenttext) !important;
    background: var(--accentcolor);
    font-size: .8em;
    font-weight: 500;
    height: 2.28em;
    padding: .072rem .275rem;
    border-radius: 3px;
    vertical-align: baseline;
    margin-right: .50rem;
    margin-left: -.25rem;
}

/* betterdiscord css editor */
.floating-window-content {
    background-color: black;
}
.floating-window-titlebar {
    background-color: #a390f7a9;
}

/* Mark NSFW channels red */
a.mainContent-u_9PKf div.iconContainer-1BBaeJ[aria-label="Text (NSFW)"] ~ div.name-23GUGE {
color: red !important;
}

/* Make a ton of stuff transparent */
.styleFlexible-wGDiIL,
div#app-mount,
.theme-light .headerNormal-T_seeN,
.body-3iLsc4.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2,
.body-3ND3kc,
.perksModal-fSYqOq.auto-Ge5KZx.scrollerBase-289Jih,
.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP,
.layer-3QrUeG,
.contentRegion-3nDuYy,
.scroller-2FKFPG.contentRegionScroller-26nc1e,
.wrapper-1-Fsb8.header-ywPcAE,
.inspector-sdLnLS,
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode.full-motion .message-2qnXI6:hover,
.wrapper-2aW0bm,
.button-1ZiXG9:hover,
.divider-Uf0Wob,
.app-2rEoOp,
.channelTextArea-rNsIhG,
.sidebar-2K8pFh,
.chat-3bRxxu,
section.title-3qD0b-.container-1r6BKw.themed-ANHk51,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scroller-2FKFPG.messages-3amgkR.scroller-3sQKXg,
.scroller-2FKFPG.members-1998pB,
nav.container-PNkimc,
section.panels-j1Uci_,
nav.privateChannels-1nO12o,
.scroller-2FKFPG.scroller-1JbKMe,
section.container-1r6BKw.themed-ANHk51,
.container-1D34oG,
.nowPlayingColumn-2sl4cE,
.theme-dark .container-1D34oG,
.scrollableContainer-2NUZem.webkit-HjD9Er,
.channelTextArea-rNsIhG.channelTextArea-2VhZ6z.focused-PMHa7m,
.clickable-2ap7je .header-2o-2hj:hover,
.selected-WP3kCM .header-2o-2hj {
background: transparent !important;
}

/* Hide help and inbox buttons */
.toolbar-1t6TWx a,
.icon-22AiRD {
    display: none;
}

/* Make friend and members list transparent */
div.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background: transparent;
}
div.member-3-YXUe.container-2Pjhx-.clickable-1JJAn8 {
    background: transparent;
}
.scroller-1JbKMe {
    background-color: transparent !important;
}